__pycache__/
*.py[cod]
*$py.class

**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py~

db.sqlite3
db.sqlite3-journal

.env
*.env

media/
static/
staticfiles/
assets/

collected_static/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.so

*.log
*.pot~
*.swp

*.sqlite3
*.pyc
*.pyo
*.pyd
