{% load static %}
<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="canonical" href="{% block canonical_url %}{% endblock %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="{% block og_title %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% endblock %}">
    <meta property="og:image:width" content="2500">
    <meta property="og:image:height" content="1330">
    <meta property="og:url" content="{% block og_url %}{% endblock %}">
    <meta property="og:site_name" content="{% block og_site_name %}{% endblock %}">
    <meta property="og:type" content="website">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}{% endblock %}">
    <meta name="twitter:image" content="{% block twitter_image %}{% endblock %}">

    <!-- JSON-LD -->
    <script type="application/ld+json">
        {% block ld_json %}
        {% endblock %}
    </script>

    <!-- Other meta tags -->
    {% block extra_head %}
    {% endblock %}

    <link rel="stylesheet" type=text/css href="{% static 'styles.css' %}">

</head>
<body>
    <!-- Background Image Container -->
    <div id="background-image-container">
        <img src="{% static 'images/background.jpg' %}" alt="Background Image">
    </div>

    <header class="site-header">
        <!-- Hamburger Menu Button -->
        <label class="hamburger" for="hamburger-toggle">
            <input type="checkbox" id="hamburger-toggle">
            <svg viewBox="0 0 32 32">
                <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                <path class="line" d="M7 16 27 16"></path>
            </svg>
        </label>

        <nav class="desktop-nav">
            <ul class="main-menu">
                <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
                <li class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}"><a href="{% url 'about' %}">About</a></li>
                <li class="{% if request.resolver_match.url_name == 'documentary' %}active{% endif %}"><a href="{% url 'documentary' %}">Documentary</a></li>
                <li class="{% if request.resolver_match.url_name == 'show' %}active{% endif %}"><a href="{% url 'show' %}">Showreels</a></li>
                <li class="{% if request.resolver_match.url_name == 'projects' %}active{% endif %}"><a href="{% url 'projects' %}">Upcoming Projects</a></li>
                <li class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>

        <!-- Sidebar Menu for Mobile -->
        <nav class="mobile-nav">
            <ul class="main-menu">
                <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
                <li class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}"><a href="{% url 'about' %}">About</a></li>
                <li class="{% if request.resolver_match.url_name == 'documentary' %}active{% endif %}"><a href="{% url 'documentary' %}">Documentary</a></li>
                <li class="{% if request.resolver_match.url_name == 'show' %}active{% endif %}"><a href="{% url 'show' %}">Showreels</a></li>
                <li class="{% if request.resolver_match.url_name == 'projects' %}active{% endif %}"><a href="{% url 'projects' %}">Upcoming Projects</a></li>
                <li class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main id="page-transition-container" class="page-transition">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer id="site-footer" class="site-footer">
        <ul class="footer-list" aria-label="Social Bar">
            <li><a href="https://vimeo.com/user194886022" target="_blank" rel="noopener noreferrer" aria-label="Vimeo">
                <img src="{% static 'images/vimeo.png' %}" alt="Vimeo">
            </a></li>
            <li><a href="https://www.facebook.com/rkvideorecordings" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                <img src="{% static 'images/facebook.png' %}" alt="Facebook">
            </a></li>
            <li><a href="https://www.youtube.com/channel/UCyAvGTuuAA9Pu1pvD4OB1wA?view_as=subscriber" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
                <img src="{% static 'images/youtube.png' %}" alt="YouTube">
            </a></li>
            <li><a href="https://www.instagram.com/rkvideosllc/?hl=en" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <img src="{% static 'images/instagram.png' %}" alt="Instagram">
            </a></li>
        </ul>
        <div class="footer-text-container">
            <p class="footer-text"><i>
                &copy; 2024 by RK Videos, LLC
            </i>
            </p>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const container = document.getElementById('page-transition-container');

            // Function to start the fade-out effect
            function fadeOut() {
                container.classList.remove('active');
                setTimeout(() => {
                    container.style.opacity = '0';
                }, 500); // Delay to ensure the transition happens
            }

            // Function to start the fade-in effect
            function fadeIn() {
                container.style.opacity = '1';
                container.classList.add('active');
            }

            // Listen for navigation link clicks
            document.querySelectorAll('nav a').forEach(link => {
                link.addEventListener('click', event => {
                    event.preventDefault();
                    const href = link.getAttribute('href');

                    // Start fade-out
                    fadeOut();

                    // Load the new page
                    setTimeout(() => {
                        window.location.href = href;
                    }, 300); // Delay to match the transition duration
                });
            });

            // On page load, start fade-in
            fadeIn();

            const hamburger = document.querySelector('.hamburger');
            const mobileNav = document.querySelector('.mobile-nav');

            hamburger.addEventListener('click', function() {
                // Toggle the visibility of the mobile nav
                if (mobileNav.classList.contains('active')) {
                    mobileNav.classList.remove('active');
                } else {
                    mobileNav.classList.add('active');
                }
            });
        });
    </script>
</body>
</html>