<!-- templates/contact.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Contact | RK Videos | Appleton, WI{% endblock %}
{% block description %}Welcome to RK Videos, your ultimate destination for film and TV content, and video production services in Appleton, Wisconsin. Explore our collection of captivating videos and our award-winning film "Unconditional: A Journey of Selfless Love."{% endblock %}
{% block canonical_url %}https://www.rkvideos-co.com{% endblock %}

{% block og_title %}RK Videos | Film & TV Production Services | Appleton, WI{% endblock %}
{% block og_description %}Need video production services? Look no further! RK Videos provides quality services for YOUR important life moments: promotional and marketing advertisements, short films and more.{% endblock %}
{% block og_image %}https://static.wixstatic.com/media/c7ce79_c5193fab277244649203e27c04fd25e2%7Emv2.jpg/v1/fit/w_2500,h_1330,al_c/c7ce79_c5193fab277244649203e27c04fd25e2%7Emv2.jpg{% endblock %}
{% block og_url %}https://www.rkvideos-co.com{% endblock %}
{% block og_site_name %}RK Videos{% endblock %}

{% block twitter_title %}RK Videos | Film & TV Production Services | Appleton, WI{% endblock %}
{% block twitter_description %}Need video production services? Look no further! RK Videos provides quality services for YOUR important life moments: promotional and marketing advertisements, short films and more.{% endblock %}
{% block twitter_image %}https://static.wixstatic.com/media/c7ce79_c5193fab277244649203e27c04fd25e2%7Emv2.jpg/v1/fit/w_2500,h_1330,al_c/c7ce79_c5193fab277244649203e27c04fd25e2%7Emv2.jpg{% endblock %}

{% block ld_json %}
{
    "@context": "https://schema.org/",
    "@type": "LocalBusiness",
    "name": "RK Videos, LLC",
    "url": "https://www.rkvideos-co.com",
    "address": {
        "@type": "PostalAddress",
        "addressCountry": "US",
        "addressLocality": "Appleton",
        "addressRegion": "WI"
    },
    "telephone": "9204756641"
}
{% endblock %}

{% block content %}

{% endblock %}