<!-- templates/projects.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}RK Videos | Film & TV Production Services{% endblock %}
{% block description %}Welcome to RK Videos, your ultimate destination for film and TV content, and video production services in Appleton, Wisconsin. Explore our collection of captivating videos and our award-winning film "Unconditional: A Journey of Selfless Love."{% endblock %}
{% block canonical_url %}https://www.rkvideos-co.com{% endblock %}

{% block og_title %}RK Videos | Film & TV Production Services | Appleton, WI{% endblock %}
{% block og_description %}Need video production services? Look no further! RK Videos provides quality services for YOUR important life moments: promotional and marketing advertisements, short films and more.{% endblock %}
{% block og_image %}https://static.wixstatic.com/media/c7ce79_c5193fab277244649203e27c04fd25e2%7Emv2.jpg/v1/fit/w_2500,h_1330,al_c/c7ce79_c5193fab277244649203e27c04fd25e2%7Emv2.jpg{% endblock %}
{% block og_url %}https://www.rkvideos-co.com{% endblock %}
{% block og_site_name %}RK Videos{% endblock %}

{% block twitter_title %}RK Videos | Film & TV Production Services | Appleton, WI{% endblock %}
{% block twitter_description %}Need video production services? Look no further! RK Videos provides quality services for YOUR important life moments: promotional and marketing advertisements, short films and more.{% endblock %}
{% block twitter_image %}https://static.wixstatic.com/media/c7ce79_c5193fab277244649203e27c04fd25e2%7Emv2.jpg/v1/fit/w_2500,h_1330,al_c/c7ce79_c5193fab277244649203e27c04fd25e2%7Emv2.jpg{% endblock %}

{% block ld_json %}
{
    "@context": "https://schema.org/",
    "@type": "LocalBusiness",
    "name": "RK Videos, LLC",
    "url": "https://www.rkvideos-co.com",
    "address": {
        "@type": "PostalAddress",
        "addressCountry": "US",
        "addressLocality": "Appleton",
        "addressRegion": "WI"
    },
    "telephone": "9204756641"
}
{% endblock %}

{% block content %}
<div class="projects-container">
    <h1 class="page-title">Explore the Future of RK Videos, LLC - A Sneak Peek into Upcoming Projects</h1>

    <div class="project">
        <p class="project-title">The Lion and the Narcissist</p>
        <p class="project-role">Director of Photography/Editor: Riley Killian</p>
        <a href="https://www.amazon.com/Lion-Narcissist-Truth-Strength-Wisdom/dp/B095G5JTM4/ref=sr_1_1?keywords=the+lion+and+the+narcissist&qid=1703800996&sr=8-1" target="_blank">
            <img src="{% static 'images/project_1.jpg' %}" alt="The Lion and the Narcissist">
        </a>
        <p class="project-description">
            Overcoming the trauma and torment loving a narcissist brought forth a faith and inner strength Katherine didn't know she possessed. It transformed her. Based on the novel written by Dr. Katherine Tsiampas, R.N., D.N.P.<br>
            Dir. Darren Fulsher<br>
            Writ. Mark Borchard, Dan Davies, Darren Fulsher
        </p>
        <a class="learn-more-button" href="https://www.imdb.com/title/tt16234546/?ref_=ttpl_ov" target="_blank">Learn More</a>
    </div>

    <div class="project">
        <p class="project-title">Meet Me By The Tree</p>
        <p class="project-role">Director of Photography: Riley Killian</p>
        <img src="{% static 'images/project_2.jpg' %}" alt="Meet Me By The Tree">
        <p class="project-description">
            Dir. R.J. Minten<br>
            Writ. R.J. Minten, Jackson Minshall
        </p>
        <a class="learn-more-button" href="https://www.imdb.com/title/tt32368625/?ref_=nv_sr_srsg_0_tt_7_nm_1_in_0_q_meet%2520me%2520by%2520the%2520tree" target="_blank">Learn More</a>
    </div>
</div>
{% endblock %}