<!-- templates/show.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Showreels | RK Videos | Appleton, WI{% endblock %}
{% block description %}Welcome to RK Videos, your ultimate destination for film and TV content, and video production services in Appleton, Wisconsin. Explore our collection of captivating videos and our award-winning film "Unconditional: A Journey of Selfless Love."{% endblock %}
{% block canonical_url %}https://www.rkvideos-co.com{% endblock %}

{% block og_title %}RK Videos | Film & TV Production Services | Appleton, WI{% endblock %}
{% block og_description %}Need video production services? Look no further! RK Videos provides quality services for YOUR important life moments: promotional and marketing advertisements, short films and more.{% endblock %}
{% block og_image %}https://static.wixstatic.com/media/c7ce79_c5193fab277244649203e27c04fd25e2%7Emv2.jpg/v1/fit/w_2500,h_1330,al_c/c7ce79_c5193fab277244649203e27c04fd25e2%7Emv2.jpg{% endblock %}
{% block og_url %}https://www.rkvideos-co.com{% endblock %}
{% block og_site_name %}RK Videos{% endblock %}

{% block twitter_title %}RK Videos | Film & TV Production Services | Appleton, WI{% endblock %}
{% block twitter_description %}Need video production services? Look no further! RK Videos provides quality services for YOUR important life moments: promotional and marketing advertisements, short films and more.{% endblock %}
{% block twitter_image %}https://static.wixstatic.com/media/c7ce79_c5193fab277244649203e27c04fd25e2%7Emv2.jpg/v1/fit/w_2500,h_1330,al_c/c7ce79_c5193fab277244649203e27c04fd25e2%7Emv2.jpg{% endblock %}

{% block ld_json %}
{
    "@context": "https://schema.org/",
    "@type": "LocalBusiness",
    "name": "RK Videos, LLC",
    "url": "https://www.rkvideos-co.com",
    "address": {
        "@type": "PostalAddress",
        "addressCountry": "US",
        "addressLocality": "Appleton",
        "addressRegion": "WI"
    },
    "telephone": "9204756641"
}
{% endblock %}

{% block content %}
<div class="showreels-container">

    <div class="video-section">
        <p>YouTube (Shot and Edited)</p>
        <iframe src="https://www.youtube.com/embed/Hf211WUnLjo?list=TLGG4HRu6JA1-S0xMzA3MjAyNA" title="ALL HER EXOTIC PETS + FISH... (HOUSE TOUR!!)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="video-section">
        <p>Aquashella Orlando 2021 Aftermovie</p>
        <iframe src="https://www.youtube.com/embed/DzGi5_DEnKA?list=TLGG0q_GOcT3JP4xMzA3MjAyNA" title="Aquashella Orlando (2021) RECAP 🎥🍿 After-Movie HD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="video-section">
        <p>Drone Reel</p>
        <iframe src="https://player.vimeo.com/video/851768821?h=1713eb11cc" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="video-section">
        <p>Commercial Work</p>
        <iframe src="https://player.vimeo.com/video/846142237?h=f6939edf72" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="video-section">
        <p>Real Estate</p>
        <iframe src="https://player.vimeo.com/video/851439107?h=a6437801de" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="video-section">
        <p>Documentary Filmmaking</p>
        <iframe src="https://player.vimeo.com/video/825719348?h=828101c490" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="video-section">
        <p>16mm Black and White Kodak Film</p>
        <iframe src="https://player.vimeo.com/video/879625383?h=0dd6da060d" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}