/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior-y: none;
}

#background-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    padding: 20px;
    color: #333;
}

footer {
    background-color: transparent;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-list li {
    margin: 0;
}

.footer-list a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list img {
    width: 20px;
    height: 20px;
}

.footer-text-container {
    margin-top: 10px;
}

.footer-text {
    font-size: 15px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.05em;
}

.site-header {
    background-color: transparent;
    color: #fff;
    padding-top: 40px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 80%;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 15px;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-menu li {
    display: inline-block;
    position: relative;
}

.main-menu li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    position: relative;
    font-family: 'Leelawadee UI', sans-serif;
    text-shadow: 1px 1px 0 #000,
                 2px 2px 0 #555,
                 3px 3px 0 #333,
                 4px 4px 0 #111;
}

.main-menu li a:hover,
.main-menu li.active a {
    color: #fff;
}

.main-menu li a:before,
.main-menu li.active a:before {
    content: '';
    position: absolute;
    width: 80%;
    height: 4px;
    background-color: #fff;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.1s ease-in-out;
}

.main-menu li a:hover:before,
.main-menu li.active a:before {
    transform: translateX(-50%) scaleX(1);
    transform-origin: bottom center;
}

/* Hide mobile nav and hamburger menu on desktop */
.mobile-nav {
    display: none;
}

/* Display hamburger menu only on mobile */
.hamburger {
    display: none;
}

/* Styles for hamburger menu button */
.hamburger {
    cursor: pointer;
    display: none; /* Hidden by default, shown on mobile */
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1001;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 2.5em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* Mobile nav styles */
.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

.mobile-nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.mobile-nav li {
    margin: 20px 0;
}

.mobile-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

#hamburger-toggle:checked ~ .mobile-nav {
    transform: translateX(0);
}

/* Desktop nav styles */
.desktop-nav {
    display: flex;
    justify-content: center;
}

.desktop-nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.desktop-nav li {
    margin: 0 10px;
}

.desktop-nav a {
    color: #fff;
    text-decoration: none;
}

/* Home page */
.home-logo-container, .home-info-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.home-logo {
    width: 50%;
    padding: 40px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.home-logo:hover {
    transform: scale(105%);
}

.home-info {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    margin: 0;
    letter-spacing: 0.3em;
    font-size: 1.6em;
    text-shadow: 1px 1px 0 #000,
                 2px 2px 0 #555,
                 3px 3px 0 #333,
                 4px 4px 0 #111;
    filter: blur(0.02em);
    padding-bottom: 60px;
}

.quotes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    padding: 60px 20px;
    gap: 20px;
}

.quote {
    padding: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.quote:hover {
    transform: scale(105%);
}

.quote-symbols {
    font-size: 10em;
    line-height: 0;
    margin-bottom: 10px;
    letter-spacing: -0.08em;
}

.quote-text {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 10px;
}

.quote-client {
    font-size: 0.9em;
    font-weight: bold;
}

.client-details {
    font-size: 0.8em;
}

.featured-clients-section {
    text-align: center;
}

.featured-clients-title {
    color: #fff;
    font-family: 'Leelawadee UI', sans-serif;
    margin-bottom: 30px;
    font-size: 2em;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #555, 3px 3px 0 #333;
}

.featured-clients-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.featured-clients-grid a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    max-width: 250px;
}

.featured-client-logo {
    flex: 0 1 150px;
    width: 90%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.featured-client-logo:hover {
    transform: scale(1.05);
}

/* About me */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
}

.about-image {
    position: relative;
    width: 304px; /* Adjust the width as needed */
    height: 342px; /* Adjust the height as needed */
    overflow: hidden;
    border-radius: 80% / 80%; /* Creates a slight vertical oval shape */
    margin: 20px 0;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-bio {
    max-width: 600px; /* Adjust the width as needed */
    padding: 20px;
    font-family: 'Leelawadee UI', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    color: #fff;
    text-shadow: 1px 1px 0 #000,
                 2px 2px 0 #555,
                 3px 3px 0 #333,
                 4px 4px 0 #111;
}

/* Documentary Page */
.documentary-container {
    text-align: center;
    padding: 40px 20px;
    color: #fff;
}

.documentary-title {
    font-family: 'Calibri', sans-serif;
    font-size: 5em;
    letter-spacing: 0.02em;
    margin: 0 auto;
    max-width: 1200px;
    text-shadow: 1px 1px 0 #000,
                 2px 2px 0 #555,
                 3px 3px 0 #333,
                 4px 4px 0 #111;
}

.awards-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    gap: 0;
    justify-items: center;
    align-items: center;
    max-width: 1000px;
    margin: 40px auto;
}

.award {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.award-1 {
    grid-column: span 3;
}

.award-2 {
    grid-column: span 2;
}

.award-1:nth-child(1) {
    transform: translateX(25%);
}

.award-1:nth-child(2) {
    transform: translateX(-25%);
}

.award-1:nth-child(1):hover {
    transform: translateX(25%) scale(1.05);
}

.award-1:nth-child(2):hover {
    transform: translateX(-25%) scale(1.05);
}

.award-2:hover {
    transform: scale(1.05);
}


.trailer-container {
    max-width: 800px;
    margin: 40px auto;
}

.trailer-container video {
    width: 100%;
    border-radius: 10px;
}

.trailer-text {
    margin-top: 10px;
    font-size: 1.2em;
    font-style: italic;
}

.documentary-info {
    max-width: 800px;
    margin: 20px auto;
    font-family: 'Leelawadee UI', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}

.documentary-info a {
    color: #fff;
    text-decoration: underline;
}

/* Showreels */
.showreels-container {
    text-align: center;
    padding: 0 20px;
    color: #fff;
}

.video-section {
    margin: 40px 0;
}

.video-section p {
    font-family: 'Calibri', sans-serif;
    font-size: 1.6em;
    margin-bottom: 20px;
    letter-spacing: 0.02em;
    text-shadow: 1px 1px 0 #000,
                 2px 2px 0 #555,
                 3px 3px 0 #333,
                 4px 4px 0 #111;
}

.video-section iframe {
    width: 100%;
    max-width: 640px;
    height: 360px;
    border-radius: 10px;
}

/* Upcoming Projects */
.projects-container {
    text-align: center;
    padding: 40px 20px;
    color: #fff;
    max-width: 1000px;
    margin: 0 auto;
}

.page-title {
    font-family: 'Calibri', sans-serif;
    font-size: 3em;
    letter-spacing: 0.02em;
    margin: 0 90px;
    text-shadow: 1px 1px 0 #000,
                 2px 2px 0 #555,
                 3px 3px 0 #333,
                 4px 4px 0 #111;
}

.project {
    margin: 0 20px 40px 20px;
}

.project-title {
    font-family: 'Leelawadee UI', sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
}

.project-role {
    font-family: 'Leelawadee UI', sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.project-description {
    font-family: 'Calibri', sans-serif;
    font-size: 1.2em;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 20px;
    line-height: 1.5;
    text-shadow: 1px 1px 0 #000,
                 2px 2px 0 #555,
                 3px 3px 0 #333,
                 4px 4px 0 #111;
}

.learn-more-button {
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 20px;
    font-family: 'Calibri', sans-serif;
    font-size: 1em;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: letter-spacing 0.3s;
}

.learn-more-button:hover {
    letter-spacing: 0.03em;
}

/* Contact Page */
.contact-container {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    color: #fff;
    padding: 0;
}

.contact-container h2, .contact-container h3, .contact-container p {
    font-family: 'Calibri', sans-serif;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 40px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 1em;
    padding: 10px 5px;
    box-sizing: border-box;
    transition: border-bottom-color 0.2s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #fff;
    font-size: 1em;
    transition: 0.2s ease all;
}

/* Apply styles when input is focused or has content */
.form-group input:focus + label,
.form-group textarea:focus + label,
.form-group input:valid + label,
.form-group textarea:valid + label,
.form-group input.up + label,
.form-group textarea.up + label {
    top: -20px;
    font-size: 0.8em;
}

.form-group label.up {
    top: -20px;
    font-size: 0.8em;
}

/* Specific rule for email input */
.form-group input[type="email"].up + label,
.form-group textarea.up + label {
    top: -20px;
    font-size: 0.8em;
}

.submit-container {
    text-align: center;
}

.submit-container button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.submit-container button:hover {
    background-color: #fff;
    color: #000;
}

.success-message, .error-message {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Slightly blurred background */
    backdrop-filter: blur(1px); /* Adds the blur effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for better contrast */
    margin-bottom: 20px;
    color: #fff; /* White text color for better readability */
    max-width: 100%;
    display: inline-block;
}

.success-message {
    background-color: rgba(0, 255, 0, 0.1); /* Light green tint */
    border: 1px solid #00ff00; /* Green border */
}

.error-message {
    background-color: rgba(255, 0, 0, 0.1); /* Light red tint */
    border: 1px solid #ff0000; /* Red border */
}

/* Transition container to handle fade effect */
.page-transition {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.page-transition.active {
    opacity: 1;
}

/* 404 Page */
.error-404-container {
    text-align: center;
    padding: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7); /* Slightly dark background */
    backdrop-filter: blur(5px); /* Blurred background effect */
    border-radius: 15px;
    margin: 0 auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error-404-container h1 {
    font-size: 100px;
    margin: 0;
    color: #ff0000; /* Red color for the 404 code */
}

.error-404-container h2 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
}

.error-404-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.error-404-container .button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.error-404-container .button:hover {
    background-color: #fff;
    color: #000;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-nav {
        display: block;
    }

    .home-logo {
        width: 100%;
    }

    .documentary-title {
        font-size: 2.5em;
    }

    .awards-grid {
        grid-template-columns: 1fr;
    }

    .award-1:nth-child(1),
    .award-1:nth-child(2) {
        transform: translateX(0);
    }

    .award-1:nth-child(1):hover,
    .award-1:nth-child(2):hover {
        transform: translateX(25%) scale(1.05);
    }

    .documentary-info {
        font-size: 1em;
    }

    .video-section iframe {
        width: 100%;
        max-width: 360px;
        height: 200px;
        border-radius: 10px;
    }

    .page-title {
        font-size: 2.0em;
        margin: 30px 20px;
    }

    .project-description {
        margin-left: 0;
        margin-right: 0;
    }
}
